body {
  padding-top: 20px;
  padding-bottom: 60px;
}

/* Custom container */
.container {
  margin: 0 auto;
  max-width: 1000px;
}
.container > hr {
  margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 40px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
  margin-bottom: ;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.social {
  width: 400px;
  margin: 0 auto;
  text-align: center;
}
.footer {
  text-align: center;
}

/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
#mc_embed_signup {
  background:#fff;
  clear:left;
  font:14px Helvetica,Arial,sans-serif;
  max-width: 500px;
  margin: 70px auto;
  border: solid 1px #eee;
  border-radius: 15px;
  padding: 15px;
}

#mc_embed_signup .mc-field-group {
  width: 100%;
}

#mc_embed_signup form {
  padding: 0;
  text-align: center;
}
#mc_embed_signup form input {
  margin: 0 auto;
  text-align: center;
}
#mc_embed_signup form input[type="email"] {
  font-size: 18px;
  height: auto;
}

/* Animations */

.quotations {
  max-width: 375px;
  margin: 0 auto 20px;
  text-align: center;
  background: #eee;
  border-radius: 15px;
  padding: 15px;
  min-height: 100px;
}

.quotations blockquote {
  display: none;
  padding: 0;
  border: none;
  margin: 0;
}

.quotations blockquote p {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
}

.animated {
  -webkit-animation-fill-mode:both;
  -moz-animation-fill-mode:both;
  -ms-animation-fill-mode:both;
  -o-animation-fill-mode:both;
  animation-fill-mode:both;
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -ms-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
}

.animated.hinge {
  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -ms-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@-o-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  animation-name: fadeIn;
}